<div class="home-callout text-center container-fluid"> <!-- This is the area where you add different classes.
Some of them are given to you by BootStrap  like the text-center (which centers the text) 
This way we've always isolated the text with a gradient-->

    <h1>Welcome to DevMatch.</h1>
    <h3>A membership site where entrepeneurs can meet developers</h3>
</div>